*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
a, ul, li{
    display: block;
    text-decoration: none;
}

a, button, input, textarea{
    outline: none;
}
div, header, section, main, a, ul, li, nav, input, textarea{
    box-sizing: border-box;
}

.m-title{
    color: #11b6f6;
    font-size: 25px;
}

.m-btn{
    padding: 10px 25px;
    color: #fff;
    background: #158acf;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    
}

/* header */
header{
    background: #158acf;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.container{
    padding: 0 20px;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}
.header_logo{
    height: 100%;
    margin-left: -60px;
    display: flex;
    align-items: center;
}

@media(max-width: 620px){
    .header_logo{
        margin-left: 0;
        max-width: 150px;
        min-width: 100px;;
    }
}
.header_logo img{
    max-height: 100%;
    max-width: 100%;
}

.header{
    height: 90px;
    padding: 10px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


.support{
    font-weight: 200;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

@media(max-width: 620px){
    .support{
        font-size: 0.8em;
    }
}

.support img{
    max-width: 15px;
    margin-right: 10px;
}

.header_support{
    display: flex;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;
    margin-left: 10px;
}

@media(max-width: 620px){
    .header_support{
        justify-content: flex-end;
    }
}
.header_support a{
    color: #fff;
}

.language{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

@media(max-width: 620px){
    .language{
       padding: 5px 0;
       font-size: 0.8em;
    }
}


.language a{
    padding: 10px 15px;
    font-weight: 200;
}


.language a.active{
    font-weight: 500;
}

.language div{
    width: 2px;
    height: 30px;
    background: #a7c5cf;
}

/* main */

main{
    
}
.invoice_wrp{
    margin-top: 140px;
    -webkit-box-shadow: -3px 1px 13px -2px #000000; 
box-shadow: -3px 1px 13px -2px #000000;
}
.invoice{
    padding: 20px 15px;
}

.m-title_number{
    margin-bottom: 30px;
}

.invoice_container_wrp{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.invoice_container_wrp p{
    font-size: 14px;
}

.invoice_container_name{
    color: #9b9b9b;
}

.invoice_container_footer{
    border-top: 1px solid #eaeaea;
    margin-top: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: #11b6f6;
    font-size: 25px;
    font-weight: 600;
}


/* method */


.method{
    margin-top: 50px;
    margin-bottom: 100px;
}

@media(max-width: 620px){
    .method{
        margin-bottom: 50px;
    } 
}

.method_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

@media(max-width: 620px){
    .method_content{
        margin-top: 30px;
    } 
}


.method_content_block{
    width: 100%;
    max-width: 180px;
    margin: 5px;
    background: #fbfbfb;
    text-align: center;
    transition: 0.5s all;
    -webkit-box-shadow: 0px 1px 2px 0px #00000054; 
    box-shadow: 0px 1px 2px 0px #00000054;
    border-radius: 5px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.method_content_block:hover{
    box-shadow:  0px 3px 16px 3px #00000036
}

.method_content_block img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.method_content_block p{
    color: #000;
    padding: 5px;
    font-size: 0.8em;
}


/* foter */
footer{
    -webkit-box-shadow: 0px -1px 13px -2px #00000096; 
    box-shadow: 0px -1px 13px -2px #00000096;
    margin-top: 50px;
}

.footer{
    padding: 15px 0;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 620px){
    .footer{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer .language a{
    color: #7d7d7f;
    transition: 0.5s all;
} 

.footer .language a:hover{
    color: #11b6f6;
} 

.footer_contacts{
    text-transform: uppercase;
    color: #7d7d7f;
    transition: 0.5s all;
}

.footer_contacts:hover{
    
    color: #11b6f6;
}

.footer_img-positions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.footer_img{
    height: 50px;
    padding: 10px;
    opacity: .7;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.footer_img:hover{
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.footer_img img{
    max-height: 100%;
}


/* pay */

.pay-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 50px 15px;
    align-items: center;
}

@media(max-width: 680px){
    .pay-form{
        grid-template-columns: 1fr;
    }
}
.pay-form_img{
    text-align: center;
}

.pay-form_img img{
    width: 100%;
    max-width: 200px;
    
}

.pay{
    display: flex;
    flex-direction: column;
}

.pay input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #11b6f6;
    margin-bottom: 20px;
    margin-top: 10px;
}




/* ajax */

.ajax-form p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.pay-ready{
    padding: 20px;
   border: 2px solid #11b6f6;
    
}

.pay-ready button{
    margin-top: 20px;
    display: block;
}

.pay-ready input{
    margin: 5px auto;
    padding: 5px;
    width: 100%;
}